Vous n'avez pas encore rejoins un appartement

2/ Rejoindre un appart

<p>
input : entrer le lien de coloc.
+Button : quant tu clique sur le bouton, tu enregistre flat_id au USER et redirection au DASBoAD (bills_path)
?????
</p>
