// Specific CSS for your home-page


h1 {
  font-size: 30px;
  text-align: center;
  .title-align-right {
  text-align: right;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  color: #006378;
  }
}

.title-Billy-Mate > h1 {
  text-align: right;
}


.logo-size {
  padding-top: 20px;
  width: 40px;
  text-align: left;
}

h2 {
  font-size: 35px;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  padding-top: 16px;
  color: #333745;
}

h3 {
  padding-top: 15px;
  // padding-bottom: 10px;
  font-size: 24px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #333745;
  font-weight: bold;
}

h4 {
  padding-top: 15px;
  // padding-bottom: 10px;
  font-size: 18px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #333745;
  font-weight: bold;
}

p {
  // padding-top: 15px;
  // padding-bottom: 10px;
  font-size: 16px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #b1bcc9;
}

.button-align-end {
  margin: 20px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}

.home-card img{
  margin-top: 10px;
  height: 220px;
  width: 100%;
  border-radius: 5px;
}

.chevron {
  color:#333745;
}

#flatname {
  margin-top: 5px;
  margin-left: 8px;
  font-family: 'Pacifico', cursive;
  font-size: 22px;
}
