// Specific CSS for your home-page
.container {
  background: #f1f1f1;
}


h1 {
  font-size: 30px;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  color: #006378;
  padding-top: 15px;
  padding-bottom: 20px;
}

.title-Billy-Mate > h1 {
  text-align: right;
}

h2 {
  font-size: 35px;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  padding-top: 30px;

}

h3 {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  text-align: center;
  font-family: 'Montaga', serif;
}

.button-align-end {
  margin: 20px;
  padding: 10px;
  font-family: 'Montaga', serif;
}

.home-card img{
  margin-top: 10px;
  height: 220px;
  width: 100%;
  border-radius: 5px;
}

// .list-inline li {
//   display: inline-block;
//   padding-left: 0px 15px;
//   align-items: center;
// }


