// Import page-specific CSS files here.
@import "home";
@import "sign-up";
@import "my-profile";

@import "choice-flat";


a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

