// Import page-specific CSS files here.
@import "home";
@import "sign-up";
@import "my-profile";
@import "refund-page";
@import "choice-flat";


a {
  text-decoration: none;
  color: white;
}


a:hover {
  text-decoration: none;
  color: white;
}

.monthly-bill {
  display: flex;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  h2 {
    margin: 0;
    padding: 0;
  }
 }


#arrow-last {
  height: 20px;
  i {
   font-size: 20px;
 }
}

#arrow-next {
  height: 20px;
  i {
  font-size: 20px;
 }
}

.background-carousel {
  background-color: white;

  border: 1px solid #d1cfcf;
}



// CARROUSEL

.carousel-inner {
  position: none
}

.arrow-carousel {
  height: 40px;
  position: relative;

}
.carousel-control-prev > i {
  color: black !important;
}

.carousel-control-next > i {
  color: black !important;
}

.carousel-control-prev, .carousel-control-next {
  height: 70px !important;
  z-index: 0;

}
