.my_profil_set > h1 {
  color: #006378;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}

.my_profil_set > h4 {
  text-align: left;
  font-family: 'Montaga', serif;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-top: 20px;
}

.edited-bill {
  color: #006378;
}

.deleted-bill {
  color: #006378;
}


.fake-input {
  width: 100%;
  padding: 10px 20px;
  background-color: white;
  border: 1px solid #d1cfcf;
}
.fake-input > p {
  margin: 0px;
}


