.image-background-refund {
  background-color: rgba(0, 99, 120, 0.55);
  height: 100vh;

}

.refund-form {
  background: rgba(255, 255, 255, 0.9);
  // margin-top: 10%;
  margin-bottom: 10%;
  padding: 8px;
}

#refund-payment {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 175px;
  width: 100%;
  border-radius: 5px;
}
