
.coucou {
  position: absolute;
  background-image:url('user.png');
  background-repeat:no-repeat;
  height: 142px;
  width: 100%;
  color: transparent;
  top: 21px;
  bottom: 50px;
  left: 36%;
  z-index: 2;
  // &:hover {
  //   background-image:url('https://img.icons8.com/cotton/100/000000/gender-neutral-user.png');
  //   width: 120%;
  // }
}

.input-avatar {
  position: relative;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#avatar {
  position: absolute;
  top: 30px;
  bottom: 50px;
  left: 37%;
  display: none;
  z-index: 2;
}

.image-loader {
  opacity: 0;
}

.user_avatar {
  z-index: 3;
  max-width: 20%;
  height: 50%;
  margin: 0;
}

#texte {
  position: absolute;
  bottom: -20px;
  font-size: 12px;
}
