<div class="container">
  <h2 class="my-3">Modifie ta Coloc</h2>

  <%= simple_form_for @flat do |f| %>

    <%= f.input :name, label: false, :placeholder => 'Nom de notre colocation'%>

    <%= f.button :submit, "Modifie ta coloc!", class: "bigbutton btn-lg btn-block"%>
  <% end %>
</div>
