
<div class="container">
  <h2 class="my-3">Rejoins ta coloc!</h2>


  <%= simple_form_for current_user  do |f| %>
    <%= f.input :token, label: "Entre le lien d'invitation :" %>

    <%= f.button :submit, "Rejoins ta coloc!", class: "btn btn-primary btn-lg btn-block"%>
  <% end %>
</div>
