  <h2>Crée ta coloc!</h2>

  <%= simple_form_for @flat do |f| %>
    <%= f.input :name %>

    <%= f.button :submit, "Crée ta coloc!", class: "btn btn-primary btn-lg btn-block"%>
  <% end %>

<p>Find me in app/views/flats/new.html.erb</p>
