<h1>Embarque dans la coloc</h1>


<% raise %>
  <%= simple_form_for [@flat, current_user], method: :patch do |f| %>
    <%= f.button :submit, "Rejoindre la coloc", class: "btn btn-success btn-lg btn-block" %>
  <% end %>
