<h1> Dashboard </h1>


(liste des bills)
<ul>
  <% @bills&.each do |bill| %>
    <li><%= bill.category %>  %>
      <% bill.flat.users.each do |user| %>
        - <%= user.first_name %>
        <%= link_to "rembourser", bill_path(bill, user: user) %>
      <% end %>
    </li>
  <% end %>
</ul>

  <%= link_to "ajouter une facture", categories_path, class: "btn btn-primary btn-lg"%>
