<h1> Dashboard </h1>

(liste des bills)
<ul>
  <% @bills&.each do |bill| %>
    <li><%= bill.category %>
      <% bill.flat.users.each do |user| %>
        <%= link_to bill_path(bill, user: user) do %>
          <%= image_tag "#{user.avatar}", class: "avatar" %>
        <% end %>


      <% end %>
    </li>
  <% end %>
</ul>
<div class="d-flex justify-content-center">
  <%= link_to "ajouter une facture", categories_path, class: "middlebutton"%>
</div>
