<div class="container">

  <div class="home-welcome">
    <h1>Bienvenue Colocataire!</h1>
    <h3>Mon meilleur souvenir d'enfance, ne pas payer de factures .. Depuis j'ai grandi !</h3>
  </div>

  <div class="home-card">
    <img class="img-coloc-home" src="https://welikeit.fr/wp-content/uploads/2014/12/espace-vie-coloc-vie-seul.jpg" alt="image colocataires">
  </div>

  <div>
     <h2>Cette application te permettra a toi et aux autres colocataires de suivre en temps réel tes factures à payer et celles déja solder.</h2>
  </div>
  <div class="button-align-end">
    <%= link_to "C'EST PARTI !", new_user_session_path, class: "middlebutton"%>
  </div>

  <div class="card-white">
      <ul class="list-inline">
        <li><a href=""><i class="fab fa-facebook"></i></a></li>
        <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
      </ul>
  </div>


</div>


