<div class="container">

  <div class="title-Billy-Mate">
    <h1>Billy-mate</h1>
  </div>

  <div class="home-welcome">
    <h2>Bienvenue Colocataire!</h2>
    <h3>Mon meilleur souvenir d'enfance, ne pas payer de factures .. Depuis j'ai grandi !</h3>
  </div>

  <div class="home-card">
    <img class="img-coloc-home" src="https://welikeit.fr/wp-content/uploads/2014/12/espace-vie-coloc-vie-seul.jpg" alt="image colocataires">
  </div>

  <div>
     <h3>Cette application te permettra a toi et aux autres colocataires de suivre en temps réel tes factures à payer et celles déja solder.</h3>
  </div>
  <div class="button-align-end">
    <%= link_to "C'EST PARTI !", my_flat_path, class: "middlebutton"%>
  </div>

</div>


