<% if user_signed_in? %>

  <div class="container">
    <h2 class="my-5">Je créé une coloc'</h2>

    <div class="d-flex justify-content-center">
      <%= link_to "C'est parti !", new_flat_path, class: "bigbutton"%>
    </div>

    <h2 class="my-5">Je rejoins une coloc'</h2>

    <div class="d-flex justify-content-center">

      <%= link_to "Rejoindre un appart !", join_flat_path, class: "bigbutton"%>
    </div>
  </div>

<% else %>


  <div class="container">

    <div class="home-welcome">
      <h2>Bienvenue Coloc!</h2>
      <h4>Billy-mate est ton nouveau partenaire pour gérer sereinement les factures de la colocation!</h4>
    </div>

    <div class="home-card">
      <img class="img-coloc-home" src="https://res.cloudinary.com/dzh1pkhi5/image/upload/v1559550874/undraw_mobile_testing_reah_fbqhz3.svg" alt="image colocataires">
      <h4>Profite alors de cette super expérience qu'est la vie en communauté!</h4>
    </div>

    <div class="button-align-end d-flex justify-content-center">
      <%= link_to "C'est parti !", new_user_registration_path, class: "middlebutton"%>
    </div>

     <div class="roomate-rules w-100 text-center">
      <!-- <p>See the list</p> -->
      <a href="#roomate-rules"><i class="chevron fas fa-2x fa-chevron-down pulse"></i></a>
    </div>


  <div id="roomate-rules" class="container">
    <br>
    <br>
    <br>
    <div class="home-card">
       <h2>Les règles d'or de la coloc'.</h2>
    </div>


    <div class="home-card">
      <img class="img-coloc-home" src="https://res.cloudinary.com/dzh1pkhi5/image/upload/v1559549937/undraw_may_the_force_bgdm_rsqrl7.svg" alt="may-the-forth">
       <h4>Règle n°1</h4>
       <p>Ne pas se disputer pour des histoires d'argent.</p>
    </div>

    <div class="home-card">
      <img class="img-coloc-home" src="https://res.cloudinary.com/dzh1pkhi5/image/upload/v1559549946/undraw_following_q0cr_1_dolirq.svg" alt="transfer-money">
      <h4>Règle n°2</h4>
      <p>Vérifier le tableau de suivi des factures chaque mois.</p>
    </div>

    <div class="home-card">
      <img class="img-coloc-home" src="https://res.cloudinary.com/dzh1pkhi5/image/upload/v1559549937/undraw_transfer_money_rywa_jkdijn.svg" alt="transfer-money">
      <h4>Règle n°3</h4>
      <p>Payer ses factures en temps et en heure dès réception de la notification Lydia.</p>
    </div>

    <div class="home-card">
      <img class="img-coloc-home" src="https://res.cloudinary.com/dzh1pkhi5/image/upload/v1559549937/undraw_having_fun_iais_1_iw9uys.svg" alt="transfer-money">
      <h4>Règle n°4</h4>
      <p>Profiter de l'essentiel : partager les meilleurs moments entre nous !</p>
      <br>
    </div>

    <div class="button-align-end d-flex justify-content-center">
      <%= link_to "C'est parti !", new_user_registration_path, class: "middlebutton"%>
    </div>

  </div>
  </div>

<% end %>




