.middlebutton {
  padding: 10px 50px 10px 50px;
  background: #006378;
  border-radius: 8px;
  color: white;
  font-size: 15px;
    a {
    text-decoration: none;
    color: white;
  }
}

.bigbutton {
  width: 100%;
  background: #006378;
  padding: 10px 40px;
  text-align: center;
  color: white;
    a {
    text-decoration: none;
    color: white;
  }
}

.bigbutton > input {
  background: #006378;
  text-align: center;
  color: white;
}

.bigbutton > p {
    margin: 0;
    color: white;
}

.smallbutton {
  background: #006378;
  border-radius: 8px;
  color: white;
     a {
    text-decoration: none;
    color: white;
  }
}

.cache-button {
  display: none;
}
